---
interface Props {
	title?: string;
	description?: string;
}
const { title = 'Almost a Footnote' } = Astro.props;
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
    </head>
    <body>
        <p>TEST — if you see this the layout works</p>
        <slot />
    </body>
</html>
